<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList Register</title>
</head>
<body>
<h2>Register</h2>
{# collect user data #}
<form enctype="multipart/form-data" method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {% for field in form %}
        <label>{{ field.label }}</label>
        {{ field }}
        <small>{{ field.errors }}</small>
    {% endfor %}
    <button type="submit">Sign Up</button>
</form>
<p>Already have an account? <a href="{% url 'login' %} "></a></p>
</body>
</html>