{% extends 'todolistapp/base.html' %}
{% load static %}
{% block content %}
{# create the form to register taskers #}
    <img src="{% static 'images/logo.jpg' %}" width="200" height="200" />
    <h4>Welcome to the todolistapp {{ user.username }}</h4>
    <h1 style="background-color: cyan",>Add a tasker</h1>
    <form action="{% url 'add_tasker' %}" method="post">
    {% csrf_token %}
    <input style="width: 1800px" type="text" name="user_tasker" placeholder="New Tasker">
        <br>
        <input style="width: 1800px" type="email" name="user_email" placeholder="Email">
        <br>
        <button type="submit" style="background-color: dodgerblue; width: 1800px; height: 35px">Add Tasker</button>
    </form>
    <h2 style="background-color: limegreen"> Add a Task</h2>
<form action="{% url 'add_task' %}" method="post">
    {% csrf_token %}
    <input style="width: 1800px" type="text" name="task" placeholder="New Task">
    <br>
    {# taskers dropdown #}
    <select style="width: 1800px; " name="tasker">
        <option value="">Select a Tasker</option>
        {% for tasker in taskers %}
        <option value="{{ tasker.id }}">
            {{ tasker.username }}
        </option>
        {% endfor %}
    </select>
    <br>
    <button style="width: 1800px; background-color: limegreen; height: 35px" type="submit">Add Task</button>
</form>
<h4>My Tasks</h4>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} - completed {{ task.completed }}
                <span>
                    - Assigned to -{{ task.tasker.username }}
                    -Email to - {{ task.tasker.email }}
                </span>
                {% if task.completed %}
                    Completed
                {% else %}
                    <a href="{% url 'mark_complete' task.id %}">Mark as Done</a>
                {% endif %}
                <a href="{% url 'delete_task' task.id %}">Delete This Task</a>
            </li>
            {# if no tasks show this #}
            {% empty %}
            <ul>
              NO TASKS AVAILABLE
            </ul>

        {% endfor %}
    </ul>
    <span>
        <a href="{% url 'logout' %}">Logout</a>
    </span>
{% endblock %}